body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Mogra", cursive;
  background-color: rgb(240, 240, 240);
}

/* state screen styles */
.start-screen {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgb(44, 145, 170);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  position: fixed;
  top: 10%;
  font-size: max(6vw, 3.5rem);
  text-align: center;
  color: rgb(240, 240, 240);
}

@keyframes hoverEffect {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: scale(1);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  }
}

#new-game-button {
  animation: hoverEffect 2s infinite;
}

/* select screen styles */
.select-screen {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgb(44, 145, 170);
  z-index: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.select-screen > div {
  display: flex;
  flex-wrap: wrap;
  gap: max(7%, 20px);
  width: 100%;
  justify-content: center;
  margin-top: 40px;
}

.game-select-button {
  font-size: 1.8rem;
  width: 275px;
}

.game-select-button:active {
  transform: scale(0.99);
}

/* confirmation modal styles */
.confirmation-modal {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.156);
}

.confirmation-modal > div {
  display: flex;
  flex-direction: column;
  gap: max(15px, 5%);
  background-color: rgb(44, 145, 170);
  padding: min(15%, 100px);
  padding-top: min(4%, 75px);
  width: max(25%, 250px);
  height: max(20%, 220px);
  border-radius: 20px;
}

.confirmation-modal p {
  text-align: center;
  margin: 0;
  color: rgb(240, 240, 240);
  font-size: min(9vw, 3rem);
}

.yes-no-buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: max(5%, 15px);
}

.yes-no-buttons > button {
  width: 60%;
  height: 100px;
}

/* button styles */
button {
  width: 250px;
  height: 150px;
  font-family: "Mogra", cursive;
  border-radius: 15px;
  font-size: 2.2rem;
  background-color: rgb(240, 240, 240);
  border: none;
  transition: color 0.25s, background-color 0.25s, border 0.1s;
}

button:hover {
  color: rgb(44, 145, 170);
  background-color: rgb(255, 255, 255);
}

button:active {
  border: 1px solid rgba(0, 0, 0, 0.375);
}

/* header styles */
.header {
  padding-top: 25px;
}

.header > h1 {
  color: rgb(44, 145, 170);
  position: static;
  margin: 0;
}

/* game screen styles */
.game-screen {
  display: grid;
  grid-template-rows: 170px 2fr 1fr;
  height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: max(350px, 30%);
  max-width: calc(100vh);
  margin: auto;
  background-color: rgba(44, 145, 170, 0.131);
  border-radius: 10px;
  overflow: hidden;
}

.board > div {
  background-color: rgba(44, 145, 170, 0.103);
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: max(7vw, 4.5rem);
  color: rgb(240, 240, 240);
}

.board > div::before {
  content: "";
  display: block;
  padding-top: 100%; /* forces 1:1 aspect ratio */
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

#restart-button,
#clear-button {
  width: min(40vw, 200px);
  height: min(10vh, 100px);
  background-color: rgb(44, 145, 170);
  color: rgb(220, 220, 220);
  font-size: 2rem;
  transition: transform 0.15s;
}

#restart-button:hover,
#clear-button:hover {
  background-color: rgb(60, 180, 210);
  color: rgb(240, 240, 240);
}

#restart-button:active,
#clear-button:active {
  transform: scale(0.97);
  border: none;
}

@media only screen and (max-width: 400px) {
  .confirmation-modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.325);
  }

  .confirmation-modal > div {
    display: flex;
    flex-direction: column;
    gap: max(15px, 5%);
    background-color: rgb(44, 145, 170);
    padding: min(15%, 100px);
    padding-top: min(4%, 75px);
    width: max(25%, 250px);
    height: max(20%, 220px);
    border-radius: 20px;
  }

  .confirmation-modal p {
    text-align: center;
    margin: 0;
    color: rgb(240, 240, 240);
    font-size: min(9vw, 3rem);
  }

  .yes-no-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: max(5%, 15px);
  }

  .yes-no-buttons > button {
    width: 60%;
    height: 15vw;
  }
}
